@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
  font-family: "Open Sans", sans-serif !important;
}
.container h1 {
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  font-weight: 700 !important;
  text-align: center;
  font-size: 3.5rem;
  padding-bottom: 0.5rem;
}
.container p {
  font-size: 1.5rem;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  color: #fe6b8b;
  flex-direction: column;
  height: 180px;
}
.logo-font {
  margin: 0;
  padding: 0 !important;
}
.sidebar {
  width: 250px;
  height: 350px;
  background-color: #f3f3f3;
  padding: 10px;
  margin-top: 15px;
}
.sidebar-tag-list {
  display: flex;
  flex-wrap: wrap;
}
.tag {
  border-radius: 5px !important;
  color: #fff !important;
  font-size: 13px;
  margin-right: 12px;
  margin-bottom: 12px;
  background-color: #818a91;
  cursor: pointer;
  padding: 0.1rem 0.6em;
}
.tag:hover {
  background-color: #373a3c;
}
.title-tag {
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
}
.tittle {
  text-align: center;
  font-size: 40px;
  margin: 25px 0 15px 0;
  color: #fe6b8b;
}
.login-register {
  color: #ff8e53;
  text-align: center;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.login-register:hover {
  text-decoration: underline;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-comment{
  display: flex;
  justify-content: flex-end;
}
.signin-signup{
  padding: 0 20%;
}
.signin-signup a{
  text-decoration: none;
  color: #9c27b0;
}
.signin-signup a:hover{
  text-decoration: underline;
}